{:extension/name :ui-codemirror
 ; cljs-build
 :cljs/module :ui-codemirror
 :cljs/depends-on #{:main}
 :cljs/namespace [; for interactions with codemirror instance:
                  ui.codemirror.api
                  ui.codemirror.theme
                  ui.codemirror.codemirror
                  ; for codemirror with reagent-atom bindings.
                  ui.codemirror.bound]

 :cljs/ns-bindings {'ui.codemirror.bound {'codemirror-atom ui.codemirror.bound/codemirror-atom
                                          'codemirror-atom-viewonly ui.codemirror.bound/codemirror-atom-viewonly
                                          'codemirror-themed ui.codemirror.bound/codemirror-themed}
                    'ui.codemirror.api {'focus ui.codemirror.api/focus
                                        'blur ui.codemirror.api/blur
                                        'set-code ui.codemirror.api/set-code
                                        'get-code ui.codemirror.api/get-code
                                        'cursor-position ui.codemirror.api/cursor-position}
                    'ui.codemirror.theme {'style-inline ui.codemirror.theme/style-codemirror-inline
                                          'style-fullscreen ui.codemirror.theme/style-codemirror-fullscreen}
                    'ui.codemirror.codemirror {'get-editor ui.codemirror.codemirror/get-editor
                                               'codemirror ui.codemirror.codemirror/codemirror}}

 ; runtime
 
 :theme {:available {:codemirror {true ["codemirror/lib/codemirror.css"]
                                  "duotone-dark" ["codemirror/theme/duotone-dark.css"]
                                  "seti" ["codemirror/theme/seti.css"]
                                  "nord" ["codemirror/theme/nord.css"]
                                  "cobalt" ["codemirror/theme/cobalt.css"]
                                  "midnight" ["codemirror/theme/midnight.css"]
                                  "abcdef" ["codemirror/theme/abcdef.css"]
                                  "neat" ["codemirror/theme/neat.css"]
                                  "duotone-light" ["codemirror/theme/duotone-light.css"]
                                  "ayu-dark" ["codemirror/theme/ayu-dark.css"]
                                  "material-darker" ["codemirror/theme/material-darker.css"]
                                  "material-palenight" ["codemirror/theme/material-palenight.css"]
                                  "liquibyte" ["codemirror/theme/liquibyte.css"]
                                  "yeti" ["codemirror/theme/yeti.css"]
                                  "hopscotch" ["codemirror/theme/hopscotch.css"]
                                  "rubyblue" ["codemirror/theme/rubyblue.css"]
                                  "gruvbox-dark" ["codemirror/theme/gruvbox-dark.css"]
                                  "3024-night" ["codemirror/theme/3024-night.css"]
                                  "shadowfox" ["codemirror/theme/shadowfox.css"]
                                  "ttcn" ["codemirror/theme/ttcn.css"]
                                  "neo" ["codemirror/theme/neo.css"]
                                  "solarized light" ["codemirror/theme/solarized light.css"]
                                  "monokai" ["codemirror/theme/monokai.css"]
                                  "3024-day" ["codemirror/theme/3024-day.css"]
                                  "pastel-on-dark" ["codemirror/theme/pastel-on-dark.css"]
                                  "twilight" ["codemirror/theme/twilight.css"]
                                  "eclipse" ["codemirror/theme/eclipse.css"]
                                  "tomorrow-night-eighties" ["codemirror/theme/tomorrow-night-eighties.css"]
                                  "bespin" ["codemirror/theme/bespin.css"]
                                  "mbo" ["codemirror/theme/mbo.css"]
                                  "material-ocean" ["codemirror/theme/material-ocean.css"]
                                  "moxer" ["codemirror/theme/moxer.css"]
                                  "erlang-dark" ["codemirror/theme/erlang-dark.css"]
                                  "oceanic-next" ["codemirror/theme/oceanic-next.css"]
                                  "paraiso-dark" ["codemirror/theme/paraiso-dark.css"]
                                  "mdn-like" ["codemirror/theme/mdn-like.css"]
                                  "solarized dark" ["codemirror/theme/solarized dark.css"]
                                  "elegant" ["codemirror/theme/elegant.css"]
                                  "dracula" ["codemirror/theme/dracula.css"]
                                  "lesser-dark" ["codemirror/theme/lesser-dark.css"]
                                  "panda-syntax" ["codemirror/theme/panda-syntax.css"]
                                  "icecoder" ["codemirror/theme/icecoder.css"]
                                  "yonce" ["codemirror/theme/yonce.css"]
                                  "base16-light" ["codemirror/theme/base16-light.css"]
                                  "blackboard" ["codemirror/theme/blackboard.css"]
                                  "darcula" ["codemirror/theme/darcula.css"]
                                  "ayu-mirage" ["codemirror/theme/ayu-mirage.css"]
                                  "the-matrix" ["codemirror/theme/the-matrix.css"]
                                  "ambiance" ["codemirror/theme/ambiance.css"]
                                  "base16-dark" ["codemirror/theme/base16-dark.css"]
                                  "paraiso-light" ["codemirror/theme/paraiso-light.css"]
                                  "xq-dark" ["codemirror/theme/xq-dark.css"]
                                  "vibrant-ink" ["codemirror/theme/vibrant-ink.css"]
                                  "xq-light" ["codemirror/theme/xq-light.css"]
                                  "night" ["codemirror/theme/night.css"]
                                  "tomorrow-night-bright" ["codemirror/theme/tomorrow-night-bright.css"]
                                  "railscasts" ["codemirror/theme/railscasts.css"]
                                  "zenburn" ["codemirror/theme/zenburn.css"]
                                  "isotope" ["codemirror/theme/isotope.css"]
                                  "default" ["codemirror/theme/default.css"]
                                  "colorforth" ["codemirror/theme/colorforth.css"]
                                  "lucario" ["codemirror/theme/lucario.css"]
                                  "material" ["codemirror/theme/material.css"]
                                  "idea" ["codemirror/theme/idea.css"]}}
         :current {:codemirror "neat" ; "paraiso-dark"
                   ; mdn-like has a weird background grid.
                   }}}
