{:paths ["src" "resources"
         "target/webly" ; to include the sci-bindings info
         "node_modules" ; css from npm
         ]
 :deps
 {org.pinkgorilla/webly {:mvn/version "0.20.738"}
  org.pinkgorilla/ui-router {:mvn/version "0.3.46"}
  org.pinkgorilla/ui-dialog-keybindings {:mvn/version "0.1.6"}
  org.pinkgorilla/ui-codemirror {:local/root ".." :deps/manifest :deps}}

 :aliases
 {:npm-install {:exec-fn webly.spa/webly-build
                :exec-args {:profile "npm-install"}}

  :demo {:exec-fn modular.system/start!
         :exec-args {:profile "watch"
                     :version "watch"
                     :config ["demo-config.edn"]
                     :services "demo-services.edn"}}

;  
  }}